
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to The World</h1>
        <p>This is a web app that will help you build world trips.</p>
        <a asp-controller="TripsMvc" asp-action="GetJs" class="btn btn-lg btn-success">Goto Your Trips</a>
    </div>
</div>

